DCAddIn/Service References/DCServicio/DCServicio4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DCServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DCServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilePrincipal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnoFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumFileFisico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilePrincipal" nillable="true" type="tns:FilePrincipal" />
  <xs:complexType name="ArrayOfTipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo" nillable="true" type="tns:Tipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo" nillable="true" type="tns:ArrayOfTipo" />
  <xs:complexType name="Tipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo" nillable="true" type="tns:Tipo" />
  <xs:complexType name="ArrayOfProceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proceso" nillable="true" type="tns:Proceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProceso" nillable="true" type="tns:ArrayOfProceso" />
  <xs:complexType name="Proceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proceso" nillable="true" type="tns:Proceso" />
  <xs:complexType name="DCArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FechaHoraProceso" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCArchivo" nillable="true" type="tns:DCArchivo" />
</xs:schema>